<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWSPersonas" />
                <binding name="SOATMundialSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="SOATMundialSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58544/WSPersonas.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWSPersonas" contract="WSPersonasSR.IWSPersonas"
                name="BasicHttpBinding_IWSPersonas" />
            <endpoint address="http://vmlmasivos.mundialseguros.com.co/SOATMundial.asmx"
                binding="basicHttpBinding" bindingConfiguration="SOATMundialSoap"
                contract="WSmundialSR.SOATMundialSoap" name="SOATMundialSoap" />
            <endpoint address="http://vmlmasivos.mundialseguros.com.co/SOATMundial.asmx"
                binding="customBinding" bindingConfiguration="SOATMundialSoap12"
                contract="WSmundialSR.SOATMundialSoap" name="SOATMundialSoap12" />
        </client>
    </system.serviceModel>
</configuration>